.video_list
  - @videos.each do |vid|
    .well
      .span2
        .thumbnail
          = link_to image_tag( 'http://img.youtube.com/vi/' + vid.yt_video_id + '/default.jpg'), video_path(vid.id)
      .meat
        %h3= link_to vid.title, video_path(vid.id)
        = vid.description rescue ''
